* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* variables */
:root {
  --main-color: hsl(4, 100%, 67%);
  --blue-color: hsl(234, 29%, 20%);
  --blue800-color: hsl(235, 18%, 26%);
  --Grey: hsl(0, 0%, 58%);
  --White: hsl(0, 0%, 100%);
  --main-font: 1rem;
  --large-font: 3rem;
  --main2-color: hsla(335, 99%, 42%, 1);
}
body {
  background-color: var(--blue800-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.form_container {
  background-color: var(--White);
  border-radius: 0.625rem;
  /* width: 100%; */
  /* height: 100%; */
  display: flex;
  padding: 1.6rem 0;
}

.content {
  padding: 0 3rem;
  display: flex;
  width: 55%;
  flex-direction: column;
  justify-content: center;
}
.content h2 {
  color: var(--blue800-color);
  font-size: var(--large-font);
  margin: 1rem;
}
.content p {
  font-size: var(--main-font);
  margin: 1rem;
  color: var(--blue800-color);
}
ul {
  list-style-type: none;
  /* margin: 1rem; */
}
li img {
  width: 1rem;
  margin-right: 1rem;
}
li {
  margin: 1rem;
  color: var(--blue800-color);
}
label {
  font-weight: 500;
  font-size: var(--main-font);
  margin-left: 1rem;
  margin-top: 1.4rem;
}
.error {
  display: flex;
}
.error p {
  color: var(--main-color);
  display: inline-block;
  margin-left: auto;
  margin-top: 1.4rem;
  opacity: 0;
  pointer-events: none;
}
.error.show {
  opacity: 1;
}
button {
  background-color: var(--blue-color);
  font-size: var(--main-font);
  width: 100%;
  height: 4rem;
  border-radius: 0.65rem;
  color: var(--White);
  margin-top: 1rem;
  font-weight: 400;
  border: none;
}
input {
  font-size: var(--main-font);
  border-radius: 0.65rem;
  width: 100%;
  height: 4rem;
  padding: 1rem;
}
input.show {
  border: 1px solid var(--main-color);
  background-color: rgb(250, 215, 215);
  color: var(--main-color);
}

input:active {
  border: var(--main-color);
}
.images {
  width: 45%;
  padding-right: 2rem;
  height: auto;
}
.images img {
  width: 100%;
  height: 100%;
}
button:hover {
  background-image: linear-gradient(
    to left,
    var(--main-color),
    var(--main2-color)
  );
}
.wrapper {
  width: 60%;
}
.success-pop-up {
  opacity: 0;
  pointer-events: none;
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: var(--blue800-color);
}
.success-pop-up.show {
  opacity: 1;
  pointer-events: auto;
}
.success-message {
  position: fixed;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 25rem;
  /* height: 28rem; */
  background-color: var(--White);
  padding: 1rem;
  border-radius: 1.625rem;
  margin-inline: auto;
}
.success-message p,
h2 {
  color: var(--blue800-color);
}
.success-message h2 {
  font-size: var(--large-font);
}
.success-message img {
  width: 3.5rem;
  margin: 1rem;
}

@media (max-width: 1440px) {
  .wrapper {
    width: 80%;
  }
}
@media (max-width: 1040px) {
  .wrapper {
    width: 95%;
  }
  h2 {
    font-size: 2.5rem;
  }
  .form_container {
    padding: 1rem;
  }
}
@media (max-width: 870px) {
  .form_container {
    border-radius: 0;
  }
  .wrapper {
    width: 100%;
  }
  .content {
    width: 60%;
  }
  .images {
    width: 40%;
  }
}
@media (max-width: 760px) {
  .wrapper {
    height: 100%;
  }
  .success-pop-up {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: none;
    border-radius: 0;
    background-color: var(--White);
  }
  .success-message {
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin-top: 20rem;
    padding: 1rem;
  }
  .dismiss-message-button {
    margin-top: auto;
  }
  .success-content > * {
    margin: 1rem;
  }
  .success-message img {
    margin: 0 2rem;
  }
  .form_container {
    flex-direction: column-reverse;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .images {
    width: 100%;
    height: 35%;
    padding: 0;
  }
  .images img {
    content: url(/newsletter-sign-up-with-success-message-main/assets/images/illustration-sign-up-mobile.svg);
    padding: 0;
    object-fit: cover;
    object-position: 0% 50%;
  }
  .content {
    height: 75%;
    width: 100%;
    padding: 0;
  }
  input {
    margin: 1rem;
    width: 90%;
  }
  button {
    margin: 1rem;
    width: 90%;
  }
}
