* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* variables */
:root {
  --main-color: hsl(4, 100%, 67%);
  --blue-color: hsl(234, 29%, 20%);
  --blue800-color: hsl(235, 18%, 26%);
  --Grey: hsl(0, 0%, 58%);
  --White: hsl(0, 0%, 100%);
  --main-font: 1rem;
  --large-font: 3rem;
}
body {
  background-color: var(--blue800-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.form_container {
  background-color: var(--White);
  border-radius: 0.625rem;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1.6rem;
}

.content {
  padding: 0 1rem;
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
}
.content h2 {
  color: var(--blue800-color);
  font-size: var(--large-font);
  margin: 1rem;
}
.content p {
  font-size: var(--main-font);
  margin: 1rem;
  color: var(--blue800-color);
}
ul {
  list-style-type: none;
  /* margin: 1rem; */
}
li img {
  width: 1rem;
  margin-right: 1rem;
}
li {
  margin: 1rem;
  color: var(--blue800-color);
}
label {
  font-weight: 500;
  font-size: var(--main-font);
  margin-left: 1rem;
}
.error {
  display: flex;
}
.error p {
  color: var(--main-color);
  display: inline-block;
  margin-left: auto;
}
button {
  background-color: var(--blue-color);
  font-size: var(--main-font);
  width: 100%;
  height: 4rem;
  border-radius: 0.65rem;
  color: var(--White);
  margin-top: 1rem;
  font-weight: 400;
}
input {
  font-size: var(--main-font);
  border-radius: 0.65rem;
  width: 100%;
  height: 4rem;
}
input::placeholder {
  padding: 1rem;
}
